# CODEOWNERS

# Anything inside the "schemas/", "standards/", "src/" and "scripts/" directories must be reviewed by the current admin (@m-casado)
/schemas/     @m-casado
/standards/   @m-casado
/src/     @m-casado
/scripts/   @m-casado

# We need to protect the release process because it has write permissions
/.github/workflows/        @m-casado
/.github/actions/          @m-casado
/CODEOWNERS                @m-casado